.container_perso {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom left, black, red);
  padding: 20px;

  article {
    width: 30vw;
    background-color: gainsboro;
    text-align: center;
    border-radius: 8px;
  }

  .person {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .container {
      width: 30vw;
      height: 50vh;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      border: 1px solid black;
      border-radius: 8px;
      margin: 15px;
      background-color: whitesmoke;

      img {
        width: 50%;
        height: 30vh;
      }
    }
  }
}
