* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  color: black;
}

nav {
  height: 30vh;
  @include flex(space-around, column);

  .button_and_recherche {
    p {
      @include button;

      &:hover {
        @include hover;
      }
    }
  }

  .choises {
    @include flex(space-between, row);
    p {
      @include button;
      margin: 0 10px;

      &:hover {
        @include hover;
      }
    }
  }
}
